.mat-card {
  padding: 0px;
}

mat-card {
  padding: 0px;
  border-radius: 10px !important;
  margin-bottom: 20px;
}

mat-card-header {
  padding-top: 10px;
  border-radius: 10px;
}

mat-card-header[color="blue"] {
  background-color: #578ebe;
}

mat-card-header[color="red"] {
  background-color: #e35b5a;
}

mat-card-title {
  color: white;
}

mat-card-sub-title {
  color: white;
}

mat-card-content {
  margin: 10px;
}
